<!-- Row -->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div>
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark"></h6>
                </div>
                <div class="clearfix">
                    <h4>Output Register Book</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->
<!-- Row -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left"></div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="table-wrap">
                        <div class="table-responsive">
                            <table id="datable_1" class="table table-hover display pb-30">
                                <thead>

                                    <tr>
                                        <th>Document Type</th>
                                        <th>Invoice No</th>
                                        <th>Invoice Date</th>
                                        <th>E-Invoice No</th>
                                        <th>E-Invoice Date</th>
                                        <th>E Invoice Total Amount</th>
                                        <th>E Invoice Tax Amount</th>
                                        <th>E Invoice Amount Different</th>
                                        <th>E Invoice Tax Different</th>
                                        <th>Shipping Bill No</th>
                                        <th>Shipping Bill Date</th>
                                        <th>HSN Code</th>
                                        <th>Quantity</th>
                                        <th>Unique Quantity Code</th>
                                        <th>Description</th>
                                        <th>Party Name</th>
                                        <th>GSTIN</th>
                                        <th>Reverse Charge</th>
                                        <th>Place of Supply</th>
                                        <th>Ex. Rate per Notifications</th>
                                        <th>Ex. Rate per Shipping Bill</th>
                                        <th>Taxable value</th>
                                        <th>Rate %</th>
                                        <th>Tax Amount</th>
                                        <th>CGST (Rs.)</th>
                                        <th>SGST / UTGST (Rs.)</th>
                                        <th>IGST (Rs.)</th>
                                        <th>Cess (Rs.)</th>
                                        <th>Total Invoice Value (Rs.)</th>
                                        <th>Vehicle No</th>
                                        <th>E-way Bill No</th>
                                        <th>Dispatch Location Code</th>
                                        <th>Port Code</th>
                                        <th>Voucher No</th>
                                        <th>Accounting Date</th>
                                        <th>Location Code</th>
                                        <th>GL Code</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>Tax Invoice B2B</td>
                                        <td>RV2000208314</td>
                                        <td>02-03-2021</td>
                                        <td>1de89af005e25882853ab0759afbc2005865d9d7b1602cea9ad93012760b3531</td>
                                        <td>02-03-2021</td>
                                        <td>117.00</td>
                                        <td>0.00</td>
                                        <td>-117.00</td>
                                        <td>0.00</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>0</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>33AAACD3338F1Z5</td>
                                        <td>NO</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>0.00</td>
                                        <td>18</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>01-01-1900</td>
                                        <td></td>
                                        <td>600000</td>
                                    </tr>

                                    <tr>
                                        <td>Tax Invoice B2B</td>
                                        <td>RV2000208314</td>
                                        <td>02-03-2021</td>
                                        <td>1de89af005e25882853ab0759afbc2005865d9d7b1602cea9ad93012760b3531</td>
                                        <td>02-03-2021</td>
                                        <td>117.00</td>
                                        <td>0.00</td>
                                        <td>-117.00</td>
                                        <td>0.00</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>0</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>33AAACD3338F1Z5</td>
                                        <td>NO</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>0.00</td>
                                        <td>18</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>01-01-1900</td>
                                        <td></td>
                                        <td>600000</td>
                                    </tr>

                                    <tr>
                                        <td>Tax Invoice B2B</td>
                                        <td>RV2000208314</td>
                                        <td>02-03-2021</td>
                                        <td>1de89af005e25882853ab0759afbc2005865d9d7b1602cea9ad93012760b3531</td>
                                        <td>02-03-2021</td>
                                        <td>117.00</td>
                                        <td>0.00</td>
                                        <td>-117.00</td>
                                        <td>0.00</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>0</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>33AAACD3338F1Z5</td>
                                        <td>NO</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>0.00</td>
                                        <td>18</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>01-01-1900</td>
                                        <td></td>
                                        <td>600000</td>
                                    </tr>

                                    <tr>
                                        <td>Tax Invoice B2B</td>
                                        <td>RV2000208314</td>
                                        <td>02-03-2021</td>
                                        <td>1de89af005e25882853ab0759afbc2005865d9d7b1602cea9ad93012760b3531</td>
                                        <td>02-03-2021</td>
                                        <td>117.00</td>
                                        <td>0.00</td>
                                        <td>-117.00</td>
                                        <td>0.00</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>0</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>33AAACD3338F1Z5</td>
                                        <td>NO</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>0.00</td>
                                        <td>18</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>01-01-1900</td>
                                        <td></td>
                                        <td>600000</td>
                                    </tr>

                                    <tr>
                                        <td>Tax Invoice B2B</td>
                                        <td>RV2000208314</td>
                                        <td>02-03-2021</td>
                                        <td>1de89af005e25882853ab0759afbc2005865d9d7b1602cea9ad93012760b3531</td>
                                        <td>02-03-2021</td>
                                        <td>117.00</td>
                                        <td>0.00</td>
                                        <td>-117.00</td>
                                        <td>0.00</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>0</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>33AAACD3338F1Z5</td>
                                        <td>NO</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>0.00</td>
                                        <td>18</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>01-01-1900</td>
                                        <td></td>
                                        <td>600000</td>
                                    </tr>
                                </tbody>

                                <tfoot>
                                    <tr>
                                        <th>Document Type</th>
                                        <th>Invoice No</th>
                                        <th>Invoice Date</th>
                                        <th>E-Invoice No</th>
                                        <th>E-Invoice Date</th>
                                        <th>E Invoice Total Amount</th>
                                        <th>E Invoice Tax Amount</th>
                                        <th>E Invoice Amount Different</th>
                                        <th>E Invoice Tax Different</th>
                                        <th>Shipping Bill No</th>
                                        <th>Shipping Bill Date</th>
                                        <th>HSN Code</th>
                                        <th>Quantity</th>
                                        <th>Unique Quantity Code</th>
                                        <th>Description</th>
                                        <th>Party Name</th>
                                        <th>GSTIN</th>
                                        <th>Reverse Charge</th>
                                        <th>Place of Supply</th>
                                        <th>Ex. Rate per Notifications</th>
                                        <th>Ex. Rate per Shipping Bill</th>
                                        <th>Taxable value</th>
                                        <th>Rate %</th>
                                        <th>Tax Amount</th>
                                        <th>CGST (Rs.)</th>
                                        <th>SGST / UTGST (Rs.)</th>
                                        <th>IGST (Rs.)</th>
                                        <th>Cess (Rs.)</th>
                                        <th>Total Invoice Value (Rs.)</th>
                                        <th>Vehicle No</th>
                                        <th>E-way Bill No</th>
                                        <th>Dispatch Location Code</th>
                                        <th>Port Code</th>
                                        <th>Voucher No</th>
                                        <th>Accounting Date</th>
                                        <th>Location Code</th>
                                        <th>GL Code</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->