<!-- Row -->
<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div>
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark"></h6>
                </div>
                <div class="clearfix">
                    <h4>Liability Control Sheet</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->
<!-- Row -->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div>
            <div class="panel-heading">
                <div class="clearfix">
                    <a class="btn btn-primary btn-outline fancy-button btn-0" style="color: black; float: left;">Create Liability Control Sheet</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark"></h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="table-wrap ">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>Invoice Receipt DN Cn No.</th>
                                        <th>GL Code</th>
                                        <th>GL Description</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>1</td>
                                        <td>570030</td>
                                        <td></td>
                                        <td>33728.11</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>570040</td>
                                        <td></td>
                                        <td>1406.70</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>570050</td>
                                        <td></td>
                                        <td>1406.70</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <th class="col-md-4">Total GL Income</th>
                                        <td class="col-md-2">36541.51</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="table-wrap ">
                        <div class="table-responsive">
                            <table class="table mb-0">

                                <th class="col-md-3"></th>
                                <th class="col-md-3"></th>
                                <th class="col-md-3">Total Supply Register</th>
                                <td class="col-md-3">36541.51</td>

                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th class="col-md-4">Difference</th>
                                    <td class="col-md-2">0.00</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /Row -->
<!-- Row -->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div>
            <div class="panel-heading">
                <div class="pull-left">
                </div>
                <div class="clearfix">
                    <div class="button-list mt-25">
                        <a href="#" class="btn btn-primary btn-outline fancy-button btn-0" style="color: black; float: left;">Add To Supply</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left"></div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="table-wrap">
                        <div class="table-responsive">
                            <table id="datable_1" class="table table-hover display  pb-30">
                                <thead>
                                    <tr>
                                        <th>Document Type</th>
                                        <th>Invoice No</th>
                                        <th>Invoice Date</th>
                                        <th>E-Invoice No</th>
                                        <th>E-Invoice Date</th>
                                        <th>E Invoice Total Amount</th>
                                        <th>E Invoice Tax Amount</th>
                                        <th>E Invoice Amount Different</th>
                                        <th>E Invoice Tax Different</th>
                                        <th>Shipping Bill No</th>
                                        <th>Shipping Bill Date</th>
                                        <th>HSN Code</th>
                                        <th>Quantity</th>
                                        <th>Unique Quantity Code</th>
                                        <th>Description</th>
                                        <th>Party Name</th>
                                        <th>GSTIN</th>
                                        <th>Reverse Charge</th>
                                        <th>Place of Supply</th>
                                        <th>Ex. Rate per Notifications</th>
                                        <th>Ex. Rate per Shipping Bill</th>
                                        <th>Taxable value</th>
                                        <th>Rate %</th>
                                        <th>Tax Amount</th>
                                        <th>CGST (Rs.)</th>
                                        <th>SGST / UTGST (Rs.)</th>
                                        <th>IGST (Rs.)</th>
                                        <th>Cess (Rs.)</th>
                                        <th>Total Invoice Value (Rs.)</th>
                                        <th>Vehicle No</th>
                                        <th>E-way Bill No</th>
                                        <th>Dispatch Location Code</th>
                                        <th>Port Code</th>
                                        <th>Voucher No</th>
                                        <th>Accounting Date</th>
                                        <th>Location Code</th>
                                        <th>GL Code</th>
                                        <th>E-Invoice No</th>
                                        <th>E-Invoice Date</th>
                                        <th>E-Way Bill No</th>
                                        <th>E-Way Date</th>
                                        <th>Remarks</th>
                                        <th>Action</th>
                                    </tr>

                                </thead>

                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td>RV2000500015</td>
                                        <td>23-03-2021</td>
                                        <td>d828b47809b25d5edd6aa19e8e8e80c395a1cc400b85818fd7a3ff281dab3ac0</td>
                                        <td>23-03-2021</td>
                                        <td>117.00</td>
                                        <td>0.00</td>
                                        <td>-117.00</td>
                                        <td>0.00</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>0</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>33AAACD3338F1Z5</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>0</td>
                                        <td></td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>01-01-1900</td>
                                        <td></td>
                                        <td>600000</td>
                                        <td></td>
                                        <td>01-01-1900</td>
                                        <td></td>
                                        <td>01-01-1900</td>
                                        <td>Transactions not covered in LL</td>
                                        <td>No Impact</td>
                                    </tr>
                                </tbody>

                                <tfoot>
                                    <tr>
                                        <th>Document Type</th>
                                        <th>Invoice No</th>
                                        <th>Invoice Date</th>
                                        <th>E-Invoice No</th>
                                        <th>E-Invoice Date</th>
                                        <th>E Invoice Total Amount</th>
                                        <th>E Invoice Tax Amount</th>
                                        <th>E Invoice Amount Different</th>
                                        <th>E Invoice Tax Different</th>
                                        <th>Shipping Bill No</th>
                                        <th>Shipping Bill Date</th>
                                        <th>HSN Code</th>
                                        <th>Quantity</th>
                                        <th>Unique Quantity Code</th>
                                        <th>Description</th>
                                        <th>Party Name</th>
                                        <th>GSTIN</th>
                                        <th>Reverse Charge</th>
                                        <th>Place of Supply</th>
                                        <th>Ex. Rate per Notifications</th>
                                        <th>Ex. Rate per Shipping Bill</th>
                                        <th>Taxable value</th>
                                        <th>Rate %</th>
                                        <th>Tax Amount</th>
                                        <th>CGST (Rs.)</th>
                                        <th>SGST / UTGST (Rs.)</th>
                                        <th>IGST (Rs.)</th>
                                        <th>Cess (Rs.)</th>
                                        <th>Total Invoice Value (Rs.)</th>
                                        <th>Vehicle No</th>
                                        <th>E-way Bill No</th>
                                        <th>Dispatch Location Code</th>
                                        <th>Port Code</th>
                                        <th>Voucher No</th>
                                        <th>Accounting Date</th>
                                        <th>Location Code</th>
                                        <th>GL Code</th>
                                        <th>E-Invoice No</th>
                                        <th>E-Invoice Date</th>
                                        <th>E-Way Bill No</th>
                                        <th>E-Way Date</th>
                                        <th>Remarks</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->