<!-- Row -->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div>
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark"></h6>
                </div>
                <div class="clearfix">
                    <h4>Control Sheet</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->
<!-- Row -->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div>
            <div class="panel-heading">
                <div class="clearfix">
                    <a href="#" class="btn btn-primary btn-outline fancy-button btn-0" style="color: black; float: left;">Create Control Sheet</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark"></h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="table-wrap ">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>Invoice Receipt DN Cn No.</th>
                                        <th>GL Code</th>
                                        <th>GL Description</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>1</td>
                                        <td>600000</td>
                                        <td></td>
                                        <td>176253.40</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>601000</td>
                                        <td></td>
                                        <td>26755.00</td>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <th class="col-md-4">Total GL Income</th>
                                        <td class="col-md-2">203008.40</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="table-wrap ">
                        <div class="table-responsive">
                            <table class="table mb-0">

                                <th class="col-md-3"></th>
                                <th class="col-md-3"></th>
                                <th class="col-md-3">Total Supply Register</th>
                                <td class="col-md-3">203008.40</td>

                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th class="col-md-4">Difference</th>
                                    <td class="col-md-2">0.00</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /Row -->
<!-- Row -->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div>
            <div class="panel-heading">
                <div class="pull-left">
                </div>
                <div class="clearfix">
                    <div class="button-list mt-25">
                        <a href="#" class="btn btn-primary btn-outline fancy-button btn-0" style="color: black; float: left;">Add To Supply</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left"></div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="table-wrap">
                        <div class="table-responsive">
                            <table id="datable_1" class="table table-hover display  pb-30">
                                <thead>
                                    <tr>
                                        <th>GL Code</th>
                                        <th>Accounting</th>
                                        <th>Voucher</th>
                                        <th>Amount</th>
                                        <th>Description</th>
                                        <th>Date</th>
                                        <th>HSN/SAC</th>
                                        <th>CGST</th>
                                        <th>SGST</th>
                                        <th>IGST</th>
                                        <th>Remarks</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tfoot>
                                    <tr>
                                        <th>GL Code</th>
                                        <th>Accounting</th>
                                        <th>Voucher</th>
                                        <th>Amount</th>
                                        <th>Description</th>
                                        <th>Date</th>
                                        <th>HSN/SAC</th>
                                        <th>CGST</th>
                                        <th>SGST</th>
                                        <th>IGST</th>
                                        <th>Remarks</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->