@model KSAA.User.Application.DTOs.User.UserViewModel

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div>
            <div class="panel-heading">
                <div class="clearfix">
                    <a href="~/User/UserList" class="btn btn-primary btn-outline fancy-button btn-0" style="color: black; float: right;">Manage Users</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Row -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account mr-10"></i>Add User Form Details</h6>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-wrap">
                                <form class="form-horizontal" data-toggle="validator" method="post" id="frmUserAdd" name="frmUserAdd">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="control-label col-md-3"></div>
                                                    <div class="col-md-9">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="ti-user"></i></div>
                                                            <input type="text" class="form-control" asp-for="FirstName" id="FirstName" placeholder="Enter First Name" data-required-error="First Name is required" required>
                                                        </div>
                                                        <div class="help-block with-errors"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="control-label col-md-3"></div>
                                                    <div class="col-md-9">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="ti-email"></i></div>
                                                            <input type="text" class="form-control" asp-for="Email" id="Email" placeholder="Enter Email" data-required-error="Email is required" required>
                                                        </div>
                                                        <div class="help-block with-errors"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!-- /Row -->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="control-label col-md-3"></div>
                                                    <div class="col-md-9">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="ti-user"></i></div>
                                                            <input type="text" class="form-control" asp-for="LastName" id="LastName" placeholder="Enter Last Name" data-required-error="Last Name is required" required>
                                                        </div>
                                                        <div class="help-block with-errors"></div>
                                                    </div>
                                                </div>
                                            </div>

                                            @*@if (Model.Id >= 0)
                                            {*@
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="control-label col-md-3"></div>
                                                    <div class="col-md-9">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="ti-lock"></i></div>
                                                            <input type="password" class="form-control" placeholder="Enter Password" asp-for="Password" data-required-error="Password must contain: Minimum 8 characters atleast 1 UpperCase Alphabet, 1 LowerCase Alphabet, 1 Number and 1 Special Character" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                                                        </div>
                                                        <div class="help-block with-errors"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            @*}*@

                                        </div>

                                        <!-- /Row -->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="control-label col-md-3"></div>
                                                    <div class="col-md-9">
                                                        <div class="input-group">
                                                            <select class="selectpicker" id="UserType" asp-for="UserType" data-style="form-control btn-default btn-outline">
                                                                <option value=""> ----- Select User Type ----- </option>
                                                                <option value="1">Internal</option>
                                                                <option value="2">Customer</option>
                                                                <option value="3">Consultant</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            @*@if (Model.Id >= 0)
                                            {*@
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="control-label col-md-3"></div>
                                                    <div class="col-md-9">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="ti-lock"></i></div>
                                                            <input type="password" class="form-control" id="inputPasswordConfirm" data-match="#Password" data-match-error="Whoops, these don't match" placeholder="Enter Confirm Password" required>
                                                            @*<input type="password" class="form-control" onChange="checkPasswordMatch();" placeholder="Enter Confirm Password" asp-for="Password" data-required-error="Confirm Password is required" required="">*@
                                                        </div>
                                                        <div class="help-block with-errors"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            @*}*@

                                        </div>

                                        <!-- /Row -->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="control-label col-md-3"></div>
                                                    <div class="col-md-9">
                                                        <div class="input-group">
                                                            @*<select class="selectpicker" id="Company" asp-for="Company" data-style="form-control btn-default btn-outline">
                                                            <option value=""> ----- Select Company ----- </option>
                                                            <option value="1">Mustard</option>
                                                            <option value="2">Ketchup</option>
                                                            <option value="3">Relish</option>
                                                            </select>*@

                                                            <select asp-for="Company" class="selectpicker" data-style="form-control btn-default btn-outline"
                                                                    asp-items="@(new SelectList(@ViewBag.Companys,"Id","Company_Name"))" id="Company"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="control-label col-md-3"></div>
                                                    <div class="col-md-9">
                                                        <div class="input-group">
                                                            @*<select class="selectpicker" id="RoleId" asp-for="RoleId" data-style="form-control btn-default btn-outline">
                                                                <option value=""> ----- Select User Role ----- </option>
                                                                <option value="1">Super Administrator</option>
                                                                <option value="2">Client Administrator</option>
                                                                <option value="3">Client Employee</option>
                                                                <option value="4">Consultant</option>
                                                                <option value="5">Executive</option>
                                                                <option value="6">Administrator</option>
                                                                <option value="7">Client Executive</option>
                                                                <option value="8">Viewer</option>
                                                            </select>*@

                                                            <select asp-for="RoleId" class="selectpicker" data-style="form-control btn-default btn-outline"
                                                                    asp-items="@(new SelectList(@ViewBag.Roles,"Id","Name"))" id="RoleId"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <div class="form-actions mt-10">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-offset-3 col-md-9">
                                                            <button type="submit" class="btn btn-success  mr-10">Submit</button>
                                                            @*<button type="button" id="btncancel" class="btn btn-default">cancel</button>*@
                                                            <a href="~/User/UserList" class="btn btn-default" id="btnCancel">Cancel</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6"> </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->
@section scripts{

    <!-- Bootstrap Core JavaScript -->
    <script src="~/vendors/bower_components/bootstrap-validator/dist/validator.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#frmUserAdd').validator().on('submit', function(e) {
                if (e.isDefaultPrevented()) {
                    // handle the invalid form...
                }
                else {
                    var obj = {
                        FirstName: $("#FirstName").val(),
                        Email: $("#Email").val(),
                        LastName: $("#LastName").val(),
                        Password: $("#Password").val(),
                        UserType: $("#UserType").val(),
                        Company: $("#Company").val(),
                        RoleId: $("#RoleId").val()
                    };
                    e.preventDefault();
                    $.ajax({
                        url: '/User/UserAdd',
                        method: 'POST',
                        data: obj,
                        success: function(data) {
                            $.toast({
                                text: "User Add SuccessFully",
                                position: 'top-right',
                                loaderBg: '#f8b32d',
                                icon: 'success',
                                hideAfter: 3500,
                                stack: 6,
                            })
                            setTimeout(function() {
                                window.location.href = "/User/UserList"
                            }, 1500);
                        },
                        error: function(jqXHR, textStatus, error) {
                            $.toast({
                                text: jqXHR.responseJSON.message,
                                position: 'top-right',
                                loaderBg: '#f8b32d',
                                icon: 'error',
                                hideAfter: 3500,
                                stack: 6
                            });
                            //setTimeout(function () {

                            //}, 1500);
                        }
                    });
                }
            });
        });
    </script>

    @*<script type="text/javascript">
        $('#frmUserAdd').validator().on('submit', function(e) {
            if (e.isDefaultPrevented()) {
                // handle the invalid form...
            }
            else
            {
                e.preventDefault();
                $.ajax({
                    url: '/User/UserAdd',
                    method: 'POST',
                    data: $(this).serializeToJSON(),
                    success: function(data) {
                        window.location.href = "/User/UserList"
                    },
                    error: function(jqXHR, textStatus, error) {
                        $.toast({
                            text: jqXHR.responseJSON.message,
                            position: 'top-right',
							loaderBg: '#f8b32d',
							icon: 'error',
							hideAfter: 3500,
							stack: 6
                        });
                    }
                })
            }
        });

        $('body').on("click", "#btnCancel", function(event) {
            close();
        });

    </script>*@
    }