<!-- Row -->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div>
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark"></h6>
                </div>
                <div class="clearfix">
                    <h4>Compare SL with E-Way Bill Reg</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->
<!-- Row -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left"></div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="table-wrap">
                        <div class="table-responsive">
                            <table id="datable_1" class="table table-hover display pb-30">
                                <thead>
                                    <tr>
                                        <th>E Way Bill No</th>
                                        <th>E Way Bill Date</th>
                                        <th>Invoice Number</th>
                                        <th>Invoice Date</th>
                                        <th>Invoice Value</th>
                                        <th>Taxable Value</th>
                                        <th>Total Tax</th>
                                        <th>Invoice Number</th>
                                        <th>Invoice Date</th>
                                        <th>Taxable Value</th>
                                        <th>Total Tax</th>
                                        <th>Taxable Value</th>
                                        <th>Tax</th>
                                        <th>Remarks</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    <tr>
                                        <td></td>
                                        <td>01-01-1900</td>
                                        <td>RV2000208323</td>
                                        <td>02-03-2021</td>
                                        <td></td>
                                        <td>0.00</td>
                                        <td>24300.00</td>
                                        <td>RV2000208323</td>
                                        <td>02-03-2021</td>
                                        <td>135000.00</td>
                                        <td>24300.00</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>Record only in SL</td>
                                        <td>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td>01-01-1900</td>
                                        <td>RV2000208323</td>
                                        <td>02-03-2021	</td>
                                        <td></td>
                                        <td>0.00</td>
                                        <td>24300.00</td>
                                        <td>RV2000208323</td>
                                        <td>02-03-2021</td>
                                        <td>135000.00</td>
                                        <td>24300.00</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>Record only in SL</td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td>01-01-1900</td>
                                        <td>RV2000208323</td>
                                        <td>02-03-2021	</td>
                                        <td></td>
                                        <td>0.00</td>
                                        <td>24300.00</td>
                                        <td>RV2000208323</td>
                                        <td>02-03-2021</td>
                                        <td>135000.00</td>
                                        <td>24300.00</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>Record only in S</td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td>201276187943</td>
                                        <td>02-03-2021</td>
                                        <td>RV2000208323</td>
                                        <td>02-03-2021	</td>
                                        <td></td>
                                        <td>135000.00</td>
                                        <td>24300.00</td>
                                        <td>RV2000208323</td>
                                        <td>02-03-2021</td>
                                        <td>135000.00</td>
                                        <td>24300.00</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>Matched</td>
                                        <td>
                                            <select>
                                                <option>No Action</option>
                                                <option>Data as per E-Invoice</option>
                                                <option>Data as per Supply</option>
                                            </select>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>271276186897</td>
                                        <td>02-03-2021</td>
                                        <td>RV2000208324</td>
                                        <td>02-03-2021	</td>
                                        <td></td>
                                        <td>135000.00</td>
                                        <td>24300.00</td>
                                        <td>RV2000208323</td>
                                        <td>02-03-2021</td>
                                        <td>16600.00</td>
                                        <td>2988.00</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>Matched</td>
                                        <td>
                                            <select>
                                                <option>No Action</option>
                                                <option>Data as per E-Invoice</option>
                                                <option>Data as per Supply</option>
                                            </select>
                                        </td>
                                    </tr>

                                </tbody>

                                <tfoot>
                                    <tr>
                                        <th>E Invoice Bill No</th>
                                        <th>E Invoice Bill Date</th>
                                        <th>Invoice Number</th>
                                        <th>Invoice Date</th>
                                        <th>Invoice Value</th>
                                        <th>Taxable Value</th>
                                        <th>Total Tax</th>
                                        <th>Invoice Number</th>
                                        <th>Invoice Date</th>
                                        <th>Taxable Value</th>
                                        <th>Total Tax</th>
                                        <th>Taxable Value</th>
                                        <th>Tax</th>
                                        <th>Remarks</th>
                                        <th>Actions</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /Row -->