@model KSAA.Master.Application.DTOs.Master.CompanyViewModel

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div>
            <div class="panel-heading">
                <div class="clearfix">
                    <a href="~/Company/CompanyList" class="btn btn-primary btn-outline fancy-button btn-0" style="color: black; float: right;">Company List</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="panel panel-default card-view">
        <div class="panel-heading">
            <h6 class="txt-dark capitalize-font">Add Company</h6>
            <div class="clearfix"></div>
        </div>
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-wrap">
                            <form class="form-horizontal" data-toggle="validator" role="form" method="post" name="frmCompanyAdd" id="frmCompanyAdd">
                                <!--/Row-->
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="control-label col-md-3"></div>
                                                <div class="col-md-9">
                                                    <div class="input-group">
                                                        <div class="input-group-addon"><i class="fa fa-barcode"></i></div>
                                                        <input class="form-control" data-required-error="Company Code is required" placeholder="Enter Company Code" id="Company_Code" required asp-for="Company_Code">
                                                    </div>
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="control-label col-md-3"></div>
                                                <div class="col-md-9">
                                                    <div class="input-group">
                                                        <div class="input-group-addon"><i class="fa fa-map-marker"></i></div>
                                                        <textarea class="form-control" data-required-error="Company Address is required" placeholder="Enter Company Address" id="Company_Address" required asp-for="Company_Address"></textarea>
                                                    </div>
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!-- /Row -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="control-label col-md-3"></div>
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="ti-user"></i>
                                                    </div>
                                                    <input class="form-control" data-required-error="Company Name is required" placeholder="Enter Company Name" id="Company_Name" required asp-for="Company_Name">
                                                </div>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    @*<div class="col-md-6">
                                        <div class="form-group">
                                            <div class="control-label col-md-3"></div>
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="ti-user"></i>
                                                    </div>
                                                    <input class="form-control" data-required-error="IP is required" placeholder="Enter IP" id="Ip" required asp-for="IP">
                                                </div>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </div>*@
                                    <!--/span-->
                                </div>                                                 
                                <!-- /Row -->
                                @*<div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="control-label col-md-3"></div>
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-user"></i></div>
                                                    <input class="form-control" data-required-error="BrowserCase is required" placeholder="Enter BrowserCase" id="BrowserCase" required asp-for="BrowserCase">
                                                </div>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                                <!-- /Row -->
                                <div class="form-actions mt-10">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <button type="submit"
                                                            class="btn btn-success  mr-10">
                                                        Submit
                                                    </button>
                                                    <button type="button"
                                                            class="btn btn-default">
                                                        Cancel
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6"> </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $('#frmCompanyAdd').validator().on('submit', function (e) {
                if (e.isDefaultPrevented()) {
                    // handle the invalid form...
                }
                else {
                    var obj = {
                        Id: @Model.Id,
                        Company_Code: $("#Company_Code").val(),
                        Company_Address: $("#Company_Address").val(),
                        Company_Name: $("#Company_Name").val(),
                        Ip: $("#Ip").val(),
                        BrowserCase: $("#BrowserCase").val()
                    };
                    e.preventDefault();
                    $.ajax({
                        url: '/Company/CompanyAdd',
                        method: 'POST',
                        data: obj,
                        success: function (data) {
                            debugger;
                            $.toast({
                                text: "Company Add SuccessFully",
                                position: 'top-right',
                                loaderBg: '#f8b32d',
                                icon: 'success',
                                hideAfter: 3500,
                                stack: 6,

                            })
                            setTimeout(function () {
                                window.location.href = "/Company/CompanyList"
                            }, 1500);
                        }
                    });
                }
            });
        });
    </script>
    }