@model KSAA.User.Application.DTOs.Role.RoleViewModel

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div>
            <div class="panel-heading">
                <div class="clearfix">
                    <a href="~/Role/RoleList" class="btn btn-primary btn-outline fancy-button btn-0" style="color: black; float: right;">Manage Role</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Row -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account mr-10"></i>Add Role Form Details</h6>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-wrap">
                                <form class="form-horizontal" data-toggle="validator" method="post" asp-action="RoleAdd" id="frmRoleAdd" name="frmRoleAdd">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="control-label col-md-3"></div>
                                                    <div class="col-md-9">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="ti-user"></i></div>
                                                            <input type="text" class="form-control" asp-for="Name" id="txtName" placeholder="Enter Role Name" data-required-error="Role Name is required" required>
                                                        </div>
                                                        <div class="help-block with-errors"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions mt-10">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-offset-3 col-md-9">
                                                            <button type="submit" class="btn btn-success  mr-10">Submit</button>
                                                            <a href="~/Role/RoleList" class="btn btn-default" id="btnCancel">Cancel</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6"> </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->

@section scripts{

    <!-- Bootstrap Core JavaScript -->
    <script src="~/vendors/bower_components/bootstrap-validator/dist/validator.js"></script>

    <script type="text/javascript">
        debugger;
        $("form[name='frmRoleAdd']"){
            ignore: [],
                errorElement: "div",
                    errorPlacement: function (error, element) {
                        error.appendTo(element.parent());
                    },
            submitHandler: function () {
                var obj = {
                    Name: $("#txtName").val()
                };

                //$.ajax({
                //    type: "POST",
                //    url: "" + $('#hdnPath').val() + "/User/UserAdd/",
                //    data: JSON.stringify(obj),
                //    contentType: "application/json; charset=utf-8",
                //    dataType: "json",
                //    cache: false,
                //    beforeSend: function () {
                //        addRemoveLoader(false);
                //    },
                //    success: function (responses) {
                //        if (responses.success) {
                //            //toastr.success(responses.message);
                //            Swal.fire({
                //                title: "Success!", text: "Your user details stored successfully!", type: "success", confirmButtonColor: "#556ee6", allowOutsideClick: !1
                //            }).then(function (t) {
                //                if (t.value) {
                //                    close();
                //                    //window.location.href = $('#hdnPath').val() + "/User";
                //                }
                //            });
                //        }
                //        else {
                //            toastr.error(responses.message);
                //        }
                //    },
                //    error: function (response) {
                //        toastr.error("Error");
                //    },
                //    complete: function () {
                //        addRemoveLoader(true);
                //    },
                //});
            }
        };

        $('body').on("click", "#btnCancel", function(event) {
            close();
        });        

    </script>
}